PORT=5000
NODE_ENV=development
DATABASE_URL=postgres://postgres:maaz@localhost:5432/erpc
DB_NAME=erpc
DB_USER=postgres
DB_PASSWORD=maaz
DB_HOST=localhost
DB_PORT=5432
DB_SSL=false
JWT_SECRET=super-secure-apex-jwt-secret-key-2026-university-erp
JWT_REFRESH_SECRET=super-secure-apex-refresh-secret-key-2026-university-erp
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
